@import 'nib'

.tmTimelineWrap
	clearfix();
	width 60px
	float: left;

.tmTimelineWrap.hasRuler
	width 110px

/* tmRuler */
.tmTimelineWrap .tmRuler
	width: 50px
	float: left
	text-align: center

/* tmTimeline */
.tmTimelineWrap.even .tmTimeline
	background-color: #f3f3f3;

.tmTimelineWrap.odd .tmTimeline
	background-color: #fbfbfb;

.tmTimelineWrap .tmTimeline
	width 60px
	float: left

.tmTimelineWrap .tmTimeline .tmHour
	border-top 1px solid #999

.tmTimelineWrap .tmTimeline .tmMin._15, .tmTimeline .tmMin._45
	border-bottom 1px dashed #ddd

.tmTimelineWrap .tmTimeline .tmMin._30
	border-bottom 1px solid #ccc

/* tmEvent */
.tmTimelineWrap .tmTimeline .tmEvent
	opacity: 0.7
	border-radius: 10px
	border: 1px solid #777;

.tmTimelineWrap .tmTimeline .tmEvent.disable
	background-color #999
	border-radius 0

/* color variation */
.tmTimelineWrap .tmTimeline .tmEvent.blue
	background-color #A3CDE1

.tmTimelineWrap .tmTimeline .tmEvent.pink
	background-color #FFB6B6

.tmTimelineWrap .tmTimeline .tmEvent.green
	background-color #B8F1AC

.tmTimelineWrap .tmTimeline .tmEvent.yellow
	background-color #FFFFB6

.tmTimelineWrap .tmTimeline .tmEvent.orange
	background-color #FFDCB6