.tlTimelineWrap{zoom:1;float:left}
.tlTimelineWrap:before,.tlTimelineWrap:after{content:"";display:table}
.tlTimelineWrap:after{clear:both}
.tlTimelineWrap .tlRuler{float:left;text-align:center}
.tlTimelineWrap.even .tlTimeline{background-color:#f3f3f3}
.tlTimelineWrap.odd .tlTimeline{background-color:#fbfbfb}
.tlTimelineWrap .tlTimeline{float:left}
.tlTimelineWrap .tlTimeline .tlHour{border-top:1px solid #999}
.tlTimelineWrap .tlTimeline .tlMin._15,.tlTimeline .tlMin._45{border-bottom:1px dashed #ddd}
.tlTimelineWrap .tlTimeline .tlMin._30{border-bottom:1px solid #ccc}
.tlTimelineWrap .tlTimeline .tlEvent{opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";-webkit-border-radius:8px;border-radius:8px;border:1px solid #555;width:85%;margin:0 auto}
.tlTimelineWrap .tlTimeline .tlEvent.disable{background-color:#999;-webkit-border-radius:0;border-radius:0;width:100%}
.tlTimelineWrap .tlTimeline .tlEvent.blue{background-color:#a3cde1}
.tlTimelineWrap .tlTimeline .tlEvent.pink{background-color:#ffb6b6}
.tlTimelineWrap .tlTimeline .tlEvent.green{background-color:#b8f1ac}
.tlTimelineWrap .tlTimeline .tlEvent.yellow{background-color:#ffffb6}
.tlTimelineWrap .tlTimeline .tlEvent.orange{background-color:#ffdcb6}
