.tlLineView{zoom:1;float:left}
.tlLineView:before,.tlLineView:after{content:"";display:table}
.tlLineView:after{clear:both}
.tlLineView .tlRuler{float:left;text-align:center}
.tlLineView.even .tlTimeline{background-color:#f3f3f3}
.tlLineView.odd .tlTimeline{background-color:#fbfbfb}
.tlLineView .tlTimeline{float:left}
.tlLineView .tlTimeline .tlHourView{border-top:1px solid #999}
.tlLineView .tlTimeline .tlMinView._15,.tlTimeline .tlMinView._45{border-bottom:1px dashed #ddd}
.tlLineView .tlTimeline .tlMinView._30{border-bottom:1px solid #ccc}
.tlLineView .tlTimeline .tlEventView{opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";-webkit-border-radius:8px;border-radius:8px;border:1px solid #555;width:85%;margin:0 auto}
.tlLineView .tlTimeline .tlEventView.disable{background-color:#999;-webkit-border-radius:0;border-radius:0;width:100%}
.tlLineView .tlTimeline .tlEventView.blue{background-color:#a3cde1}
.tlLineView .tlTimeline .tlEventView.pink{background-color:#ffb6b6}
.tlLineView .tlTimeline .tlEventView.green{background-color:#b8f1ac}
.tlLineView .tlTimeline .tlEventView.yellow{background-color:#ffffb6}
.tlLineView .tlTimeline .tlEventView.orange{background-color:#ffdcb6}
