@import 'nib'

.tlTimelineWrap
	clearfix();
	float: left;


/* tlRuler */
.tlTimelineWrap .tlRuler
	float: left
	text-align: center

/* tlTimeline */
.tlTimelineWrap.even .tlTimeline
	background-color: #f3f3f3;

.tlTimelineWrap.odd .tlTimeline
	background-color: #fbfbfb;

.tlTimelineWrap .tlTimeline
	float: left

.tlTimelineWrap .tlTimeline .tlHour
	border-top 1px solid #999

.tlTimelineWrap .tlTimeline .tlMin._15, .tlTimeline .tlMin._45
	border-bottom 1px dashed #ddd

.tlTimelineWrap .tlTimeline .tlMin._30
	border-bottom 1px solid #ccc

/* tlEvent */
.tlTimelineWrap .tlTimeline .tlEvent
	opacity: 0.7
	border-radius: 8px
	border: 1px solid #555;
	width 85%
	margin: 0 auto

.tlTimelineWrap .tlTimeline .tlEvent.disable
	background-color #999
	border-radius 0
	width 100%

/* color variation */
.tlTimelineWrap .tlTimeline .tlEvent.blue
	background-color #A3CDE1

.tlTimelineWrap .tlTimeline .tlEvent.pink
	background-color #FFB6B6

.tlTimelineWrap .tlTimeline .tlEvent.green
	background-color #B8F1AC

.tlTimelineWrap .tlTimeline .tlEvent.yellow
	background-color #FFFFB6

.tlTimelineWrap .tlTimeline .tlEvent.orange
	background-color #FFDCB6